@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.dasshboard{
  padding: 10px;
}
.dashboard_header{
  display: flex;
  justify-content: space-between;
}
.main-account-balance{
  border: 1px solid #43697E;
  min-height: 170px;
  margin-top: 10px;
}
.account-activity{
  min-height: 30px;
  padding: 10px;
  margin-top: 20px;
  background-color: #43697E;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-activity button{
  background-color: #fff;
  border: none;
}
.transaction{
  margin-top: 20px;
  margin-bottom: 100px;
}
.transaction_box{
  border-bottom: 1px solid #43697E;
  padding-top: 5px;
  padding-bottom: 5px;
}
.transaction_box-top, .transaction_box-bottom{
  display: flex;
  justify-content: space-between;
}
.transaction_box-bottom{
margin-top: 5px;
}
.transaction_box-bottom div{
  display: flex;
  flex-direction: column;

}
._desc{
  color: #003755;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}
.account-footer{
  min-height: 30px;
  padding: 15px;
  margin-top: 20px;
  left: 0;
  right: 0;
  background-color: #43697E;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.account-footer div{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.account-footer div svg{
  fill: #fff;
}